
body{
  height: 100vh;
  background-color: #222831;
  color: #EEEEEE;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


section{
  background-color: #393E46;
  margin: 0 20px;
  padding: 10px;
  box-shadow: 5px 5px 10px #EEEEEE;
}

h2{
  margin: 0 0 10px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

th,td{
  border: 2px solid #EEEEEE;
  padding: 5px;
}

th{
  background-color: #222831;
}


